
.navbar {
    justify-content: center;
    height: 64px;
    background-color: #4D81B7 !important;
    padding: 0px 30px;
    box-shadow: none !important;

    &__title {
        flex-grow: 0 !important;
        font-family: 'Dosis', sans-serif !important;
    }
}